header{
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
    color: #000;
    text-transform: uppercase;
    font-size: 20px;

}

body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    color:#000
  }

ul {
    list-style-type: none;
    margin: 5px;
    padding: 0px;
    position: relative;
    display: inline-block;
    color: black;
}


li {
    display: inline;
  }


* {
    text-decoration: none;
}


   footer {
       width: 100%;
       position: relative;
       text-align: center;
       font-family: 'Times New Roman', Times, serif;
        font-size: 14px;
        text-decoration: none;
        color:rgb(0, 0, 0);
   }
    

